#if ($LINE)
LINE;0;true;draw line
#else
LINE;0;false;draw line
#end
#if ($WIPE)
WIPE;0;true;wipe
#else
WIPE;0;false;wipe
#end
#if ($COLOR)
COLOR;0;true;color
#else
COLOR;0;false;color
#end
#if ($RECT)
RECT;1;true;draw rect
#else
RECT;1;false;draw rect
#end
#if ($DPL)
DPL;0;true;draw product line
#else
DPL;0;false;draw product line
#end
